name: First CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t tstark007/hello .
      
      - name: Run Docker Container
        run: docker run -d  tstark007/hello